.top-bar {
    font: 13px arial, sans-serif;
    display: flex;
    justify-content: space-between;
    /*flex-direction: row;*/
    padding: 0px 0px;
}

.top-bar-right {
    align-items: center !important;
    flex-direction: row-reverse;
    padding-top: 10px !important;
    padding-right: 30px;
}

.top-bar > div {
    padding-top: 15px;
    display: flex;
    align-items: flex-end;
}

#google {
    padding-left: 30px;
    padding-right: 28px;
    width: 92px;
    height: 36px;
    cursor: pointer;
}

#search-box {
    width: 550px;
    height: 40px;
    border: 1px solid #dfe1e5;
    border-radius: 40px;
    outline: none;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background: url(../images/googlesearchbar.png) no-repeat right 20px center;
    background-size: 62px;
    font: 16px arial, sans-serif;
    margin: 0 auto;
    padding: 2px 20px;
}

svg {
    width: 24px;
    height: 24px;
    color: #000;
}

.user-container {
    display: flex;
    align-self: center;
}

#dot {
    height: 35px;
    width: 35px;
    background-color: #8d6e63;
    border-radius: 50%;
    margin-top: 5px;
}

#user {
    position: absolute;
    z-index: 1;
    top: 39px;
    right: 50px;
    font-size: 16px;
    color: #fff;
}

#apps-button {
    display: inline-block;
    padding: 0px 10px 0px 10px !important;
    margin-right: 5px;
    height: 23px;
    width: 23px;
    background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    background-position: 400px 30px;
    opacity: .55;
}

#apps-button:hover {
    opacity: 1;
    cursor: pointer;
}

.top-bar-option {
    display: flex;
    flex-direction: row;
    padding-left: 154px;
    justify-content: space-between;
    border-bottom: 1px solid #ebebeb;
}

.top-bar-option-container {
    float: left;
    min-width: 578px;
    justify-content: space-around;
    align-items: center;
}

.top-bar-option-left {
    float: left;
    display: flex;
    flex-direction: row;
}

#all {
    border-bottom: 3px solid #1A73EB;
    font-weight: bold;
}

#all a {
    color: #1A73EB;
}

.top-bar-option-container a {
    color: #777;
}

.top-bar-option-right {
    float: right;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.search-options {
    padding: 30px 16px 12px 16px;
    color: #777;
    font-size: 13px;
    font-family: arial, sans-serif;
}

.search-options a:hover {
    text-decoration: none;
}

a {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}

a:hover {
    color: rgb(105, 105, 105);
    text-decoration: underline;
}

input[type=text]:focus, textarea:focus, input[type=text]:hover {
    box-shadow: 0 2px 5px #dfe1e5;
    border: 1px solid #dfe1e5;
    margin: 5px 1px 3px 0px;
    padding: 3px 0 3px 3px;
}

.button-container {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.button {
    display: inline-block;

    border: 1px solid transparent;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    cursor: default;
    text-align: center;
    height: 27px;
    line-height: 27px;
    min-width: 58px;
    padding: 0 4px;
    text-decoration: none;
}

.button:hover {
    display: inline-block;
    background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
    color: #444;

    border: 1px solid #dcdcdc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    cursor: default;
    text-align: center;
    height: 27px;
    line-height: 27px;
    min-width: 58px;
    padding: 0 4px;
    text-decoration: none;
}

.stat {
    margin-left: 150px;
    padding-left: 16px;
    padding-right: 8px;
    padding-bottom: 6px;
    min-width: 245px;
    min-height: 43px;
    display: flex;
    align-items: center;
    color: #777;
    font-family: arial, sans-serif;
    font-size: small;
}

.result-container {
    margin-left: 150px;
    margin-right: 264px;
}

.result-container2 {
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
}

.footer-container {
    height: 82px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.result {
    margin-bottom: 30px;
}

.result-title {
    color: #1a0dab;
    font-size: 18px;
    line-height: 1.33;
    cursor: pointer;
}

.result-title:hover {
    text-decoration: underline;
}

.result-link {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}

.result-url {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 540px;
    color: #006621;
    font-size: 14px;
    padding-top: 1px;
    line-height: 1.43;
    float: left;
}

.nav {
    width: 8px;
    height: 5px;
    cursor: pointer;
    float: bottom;
}

.date {
    display: inline;
    color: #777;
}

.result-description {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 590px;
    color: #545454;
    font-family: arial, sans-serif;
    font-size: small;
    text-align: left;
    line-height: 1.54;
}

footer {
    height: 40px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    display: flex;
    justify-content: space-between;
}

div {
    font-family: arial, sans-serif;
}

footer > div {
    font-size: small;
    color: #5f6368;
    display: flex;
    align-self: center;
}

footer > div > div {
    margin-left: 27px;
}

.footer-link {
    color: #5f6368 !important;
}

#settings {
    padding-right: 27px;
}

#country {
    color: rgba(0, 0, 0, .54);
    font-size: 15px;
}